header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
 text-shadow: salmon;
}
header .logo {
  flex: 1;
}
header a {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: #9b6450;
  font-weight: 500;
}
header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
}
header ul li:hover {
  opacity: 1;
}
.icon{
  width: fit-content;
  height: fit-content;
  max-width: 100px;
  max-height: 66px;
}
.menu {
  display: none;
}
.cart-icon {
  position: relative;
  margin-right: 20px;
}
.cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
  font-size: 10px;
}
.Announcement {
  background-color: #9b6450;
  padding: 10px 0 6px;
  box-shadow: 0 0 27px 0 #9b6450;
}
.Announcement .col-md-6 p {
  color: #fff;
  margin-right: 6rem;
  font-size: 12px;
}
.Announcement .col-12 a {
  color: #fff;
  margin-right: 2rem;
  font-size: 15px;
}
.row {
  margin: 0;
  padding: 0;
}
.contactusform span{
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #d55527;
}