.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}
.section {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}
.shoptext {
  padding-top: 10px;
}
.shoptext h3,
.shoptext p a {
  color: #252525;
}
.shoptext h3 {
  margin-top: 13px;
  font-weight: 700;
  font-size: 19px;
}
.border-product {
  padding: 15px;
  border: 1px solid #9b6450;
  border-radius: 5px;
  box-shadow: 0 0 27px 0 #9b6450;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all {
  text-align: right;
  margin: 20px;
}
.delete-all input {
  height: 25px;
  width: 25px;
  transform: translateY(5px);
  margin: 0 15px;
}
.delete-all span {
  text-transform: uppercase;
  color: rgb(3, 165, 206);
  letter-spacing: 1.3px;
}
.delete-all button {
  border: 1px solid crimson;
  padding: 10px 25px;
  color: crimson;
  text-transform: uppercase;
}

/* ------------ Filters Menu ----------------- */
.navbar {
  background-color: #ebc5b9;
  box-shadow: 0 0 27px 0 #9b6450;
  margin:40px;
  margin-bottom: 50px;
}
.navbar select,
input {
  border: 1px solid rgb(108, 31, 31);
  border-radius: 10px;
  padding: 0 5px;
  background-color: rgb(230, 210, 203);
}
.form-control{
  width: 250px;
}

/* -------------------- Load More --------------- */
.load_more {
  text-align: center;
}
.load_more button {
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #555;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  background: #d55527;
  color: aliceblue;
  border-radius: 10px;
}

/* -------------------- Carousel --------------- */
.carousel{
  display: inline-block;
  width: 100%;
  margin: 40px auto;
}
.carousel img{
  display: inline-block;
  max-height: 500px;
}

/* -------------------- CalltoActionSection --------------- */
.subscribe-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
    url(https://images.unsplash.com/photo-1615876234886-fd9a39fda97f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&w=1000&q=80)
      no-repeat scroll 50% / cover;
  padding: 100px 0;
  margin: 40px auto;
}
.subscribe-head h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 13px;
  text-transform: uppercase;
}
.subscribe-head p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 39px;
}
.subscribe-head {
  text-align: center;
}